.input-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 575px;
    align-items: center;
}

input {
    border-radius: 20px;
    height: 35px;
    width: 180px;
    margin-left: 15px;
}
button {
    width: 120px;
    height: 30px;
}