* {
    margin: 0;
}

@keyframes anim {
    0% {
        background: linear-gradient(45deg, #76F0C4, #e285d6, #79B9EE);
    }
    60% {
        background: linear-gradient(65deg, #FB95A7, #B4A9EA, #FB95A7);
    }
    90% {
        background: linear-gradient(85deg, #FB95A7, #c597b7, #FB95A7);
    }
    100% {
        background: linear-gradient(130deg, #FB95A7, #aa6991, #FB95A7);
    } 
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 800px;
    animation: anim 12s infinite;
    animation-delay: 1.5s;
}

.input-form {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
}

input {
    height: 40px;
    width: 210px;
    border-radius: 20px;
    margin-left: 20px;
}

button {
    width: 120px;
    box-shadow: 3px 2px 4px orange;
    margin: 0 auto;
    height: 60px;
    border-radius: 15px;
    background-color: transparent;
    border: 4px solid gold;
    cursor: pointer;
}
