.mainDiv-Details {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 700px;
}
body {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 50%, #FFCC70 100%);
}

.btn-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 23px;
    text-decoration: none;
}
.btn {
    color: white;
    text-decoration: none;
    border: 3px solid gold;
    padding: 15px;
    border-radius: 15px;
}
.modal {
    border: 3px solid purple;
    padding: 20px 10px;
    border-radius: 15px;
    background-color: rgb(182, 179, 179,0.4);
}