.mainDiv {

   }
.authDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creatingPostDiv {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fetchingDataDiv {
     height: auto;
}