.redStatus {
    color: red;
  }
  
  .greenStatus {
    color: green;
  }

  .mainDiv {
    background-color: bisque;
    border-radius: 15px;
    border: 4px solid gold;
  }
  
  .fetch-div {
    display: grid;
    grid-template-columns: auto auto auto;
  }